div{
    height: 500px;
    width: 700px;
    margin: 20px;
    background-image: url(bgimage.jpg);
    background-size: contain;
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    
}