div{
    height: 200px;
    width: 200px;
    border: 2px;
    background-color: #008000;
    margin-top: 10px;
    transition: margin-top 2s ease 0.2s;
    margin: 0 auto;
}

div:hover{
    margin-top: 400px;
    border-radius: 50%;
    background-color: pink;
    
}